@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
footer {
  margin-top: 10%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #353535;
}

a {
  color: #fff;
}

#container {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 174, 0);
  padding: 16px;
}

nav {
  margin: 50px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

.nav-links > a {
  cursor: pointer;
  color: azure;
  border: solid;
  border-radius: 60px;
  padding: 4px;
}

nav a:hover {
  background: #101010;
  transition: 0.4s;
  border-radius: 5px;
  font-size: 25px;
}
.logo {
  width: 130px;
}

.logo img {
  width: 100%;
  border-radius: 90px;
}

.search-box {
  display: flex;
  height: 45px;
  background: #353535;
  line-height: 40px;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
}

.search-input {
  background: #353535;
  color: #fff;
  outline: none;
  border: none;
  line-height: 40px;
  width: 0px;
  float: left;
  font-size: 15px;
  transition: 0.4s ease;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #353535;
  padding: 12px;
  border-radius: 50%;
  float: right;
  color: rgb(255, 174, 0);
  transition: 0.4s ease;
}

.search-box:hover > .search-input,
.search-input:focus {
  width: 240px;
  margin: 0px 8px;
}

.search-box:hover > .search-button,
.search-input:focus + .search-button {
  background: rgb(255, 174, 0);
  color: #101010;
}
.section {
  text-align: center;
}
.section h1 {
  padding-top: 10%;
  font-size: 100px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.section a {
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: black;
  border-radius: 60px;
  font-size: 2em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0.2);
}
.section a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: .5s;
}
.bkg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.foot {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 25%;
  padding: 0 15px;
}
.column h4 {
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(255, 174, 0);
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}
.column ul {
  list-style: none;
}
.column ul li:not(:last-child) {
  margin-bottom: 10px;
}
.column ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}
.column ul li a:hover {
  color: #fff;
  padding-left: 5px;
}
.column .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}
.column .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
